body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Evita que a tela role para os lados no celular */
  font-family: sans-serif;
}

/* Garante que o container do Leaflet preencha tudo */
.leaflet-container {
  height: 100%;
  width: 100%;
}